body { 
    margin: 0;
    height: 4000px;
    background: url('../images/BlackBackground.jpg') center/cover no-repeat;
    background-attachment: fixed;
    
}

.shop-sidebar{ 
    position: fixed;
    display: flex;
    top: 104px;
    left: 100px;
    height: 80px;
    bottom: 0px;
    max-width: 100%;
    border-width: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 15;
}

.filter-search { 
    margin: 10px 10px 10px 10px;
    border: none;
    border-radius: 4px;
    padding: 16px 4px 16px  4px;
    background-color: rgb(250, 235, 168);
    color: white;;
}
.products-sheet {
    position: relative;
    display: flex;

    z-index: 2;
    height: 100%;
    width: 100%;

}
.toggle-sidebar { 
    position: fixed;
    left: 10px;
    top: 119px;
    z-index: 3;
    background: linear-gradient(145deg, #FFD700, #DAA520);
    border: none;
    transform: 5s;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    
}
.toggle-sidebar:hover { 
    cursor: pointer;
    background: linear-gradient(145deg, #FFC700, #CFA030);

}
.toggle-sidebar:active { 
    opacity: 0.9;
}
.filter-icon    {
    margin-top: 4px; 
    height: 36px;
    width: 38px;
}

.filter-list.open, .hide.open  {
    opacity: 0;
    width: 0;    
}

.product-grid { 
    position: absolute;
    
    left: 180px;
    top: 184px;
    right: 100px;
    width: 80%;
    background-color: rgba(93, 95, 95, 0.486);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    column-gap: 20px;
    padding: 20px;
    border-radius: 40px;
    z-index: 2;
    
}
.product-container { 
    margin: 40px;
    background-color: rgb(214, 213, 213);
    max-width: 365px;
    max-height: 600px;
    border-radius: 40px;
    padding: 0;
}
.product-image-container { 

    margin: 30px 30px 10px 30px;
    border-radius: 30px;   max-height: 300px ;
    max-width: 300px;
    box-shadow: 2px 2px 16px black;
}
.product-image { 
    max-width: 300px;
    max-height: 300px;
    z-index: 6;
    border-radius: 30px;
}
.product-name-container { 
    margin-left: 40px;
    font-family: Overlock SC;
    max-width: 280px;
    font-size: 26px;
    font-weight: 500;
    background-color: (214, 213, 213);
    text-shadow: 0px 1px 1px black;
}
.product-price-container  {
    display: inline-block;
    margin-left: 40px;
    margin-top: 10px;
    font-family: Cormorant SC;
    max-width: 280px;
    font-size: 28px;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;
}
.karat-count-container { 
    display: inline-block;
    margin-left: 105px;
    margin-top: 10px;
    margin-right: 0px;
    font-family: Cormorant SC;
    max-width: 280px;
    font-size: 28px;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;text-shadow: 0px 1px 1px black;
}

.add-to-cart-button-container { 
    max-width: 280px;
    margin-left: 40px;
    display: inline-block
}
.add-to-cart-button { 
    margin-top: 16px;
    background-color: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 40px;
    padding: 8px 18px 8px 18px;
    font-size: 24px;
    font-family: Cormorant SC;
    font-weight: 600;
    margin-bottom: 30px;
    box-shadow: 0px 1px 2px black;

}
.add-to-cart-button:hover { 
    cursor: pointer;
}
 .product-cart-quantity-background { 
    display: inline-block;
    width: 50px;
    height: 50px;
    background: linear-gradient(145deg, #FFD700, #DAA520);
    border-radius: 50px;
    margin-left: 40px;
    box-shadow: 0px 1px 2px black;
    opacity: 0;
 }
 .product-cart-quantity { 
    font-family: Cormorant SC;
    font-size: 28px;
    font-weight: bolder;
    margin: 6px 0px 0px 14px;
    opacity: 1;
   

}